:root {
    --color-primary: #E6E5EA;
    --color-secondary: #817D92;
    --bg-primary: #18171F;
    --bg-secondary: #24232C;
    --color-accent: #A4FFAF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background: var(--bg-primary);
    color: var(--color-primary);
    font-family: 'JetBrains Mono', monospace;
}
.container {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* generated password container */
.container h1 {
    color: var(--color-secondary);
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1.6rem;
}
.pass-container {
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    width: 100%;
}
/* password inclusions section */
.pass-inclusions {
    background-color: var(--bg-secondary);
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
}
.char-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
}
.char-length {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8rem;
}
.char-length span {
    color: var(--color-accent);
    font-size: 2.4rem;
}
.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bg-primary);
    height: .8rem;
    width: 100%;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 2.8rem; 
    height: 2.8rem;
    cursor: pointer;
}
.inclusions-input {
    margin-bottom: 1.6rem;
    display: block;
    position: relative;
    padding-left: 3.5rem;
    -webkit-user-select: none;
    user-select: none;
}
.inclusions-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all .7s ease;
}
.inclusions-input input:checked ~ .checkmark {
    background-color: var(--color-accent);
    border: none;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.inclusions-input input:checked ~ .checkmark:after {
    display: block;
}
.inclusions-input .checkmark:after {
    left: 5px;
    top: 50%;
    width: 4px;
    height: 8px;
    border: solid var(--bg-primary);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
}  
.last {
    margin: 0;
}
.strength-container {
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 1.6rem;
    margin: 3.2rem 0 1.6rem 0;
}
.pass-strength {
    color: var(--color-secondary);
}
.strength-rating {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.rating-text {
    text-transform: uppercase;
    font-size: 1.8rem;
}
.bar {
    height: 2.8rem;
    width: 1rem;
    border: 2px solid #fff;
}
.strength-bar {
    display: flex;
    align-items: center;
    gap: .8rem;
}
/* submit button */
.generate {
    background-color: var(--color-accent);
    border: none;
    outline: none;
    color: var(--bg-secondary);
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 1.8rem;
    width: 100%;
}
.icon-right {
    margin-left: 1.6rem;
}
.no-border {
    border: none;
}

/* For tablets & desktop screens */
@media screen and (min-width: 768px) {
    .container {
        max-width: 540px;
    }
    .container h1 {
        font-size: 2.4rem;
    }
    .pass-container {
        font-size: 3.2rem;
        padding: 1.9rem 3.2rem;
    }
    .pass-inclusions {
        font-size: 1.8rem;
        padding: 2.4rem 3.2rem;
    }
    .char-length {
        margin-bottom: 1.6rem;
    }
    .char-length span {
        font-size: 3.2rem;
    }
    .inclusions-input {
        margin-bottom: 2rem;
    }
    .strength-container {
        padding: 2.5rem 3.2rem;
        margin: 3.2rem 0;
    }
    .rating-text {
        font-size: 2.4rem;
    }
    .generate {
        padding: 2.1rem;
    }
    .icon-right {
        margin-left: 2.4rem;
    }
}